<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni1218</key>
    <string>uni1218.glif</string>
    <key>uni1219</key>
    <string>uni1219.glif</string>
    <key>uni121A</key>
    <string>uni121A_.glif</string>
    <key>uni121B</key>
    <string>uni121B_.glif</string>
    <key>uni121C</key>
    <string>uni121C_.glif</string>
    <key>uni121D</key>
    <string>uni121D_.glif</string>
    <key>uni121E</key>
    <string>uni121E_.glif</string>
    <key>uni121F</key>
    <string>uni121F_.glif</string>
    <key>uni1290</key>
    <string>uni1290.glif</string>
    <key>uni1291</key>
    <string>uni1291.glif</string>
    <key>uni1292</key>
    <string>uni1292.glif</string>
    <key>uni1293</key>
    <string>uni1293.glif</string>
    <key>uni1294</key>
    <string>uni1294.glif</string>
    <key>uni1295</key>
    <string>uni1295.glif</string>
    <key>uni1296</key>
    <string>uni1296.glif</string>
    <key>uni1297</key>
    <string>uni1297.glif</string>
    <key>uni12C8</key>
    <string>uni12C_8.glif</string>
    <key>uni12C9</key>
    <string>uni12C_9.glif</string>
    <key>uni12CB</key>
    <string>uni12C_B_.glif</string>
    <key>uni12CC</key>
    <string>uni12C_C_.glif</string>
    <key>uni12CE</key>
    <string>uni12C_E_.glif</string>
    <key>uni12DC</key>
    <string>uni12D_C_.glif</string>
  </dict>
</plist>
