<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.uni1200</key>
    <array>
      <string>uni1200</string>
      <string>uni1205</string>
    </array>
    <key>public.kern1.uni1208</key>
    <array>
      <string>uni1208</string>
      <string>uni120B</string>
      <string>uni120D</string>
    </array>
    <key>public.kern1.uni1210</key>
    <array>
      <string>uni1210</string>
      <string>uni1213</string>
      <string>uni1215</string>
    </array>
    <key>public.kern1.uni121D</key>
    <array>
      <string>uni121D</string>
      <string>uni121E</string>
    </array>
    <key>public.kern1.uni1230</key>
    <array>
      <string>uni1230</string>
      <string>uni1233</string>
      <string>uni1235</string>
    </array>
    <key>public.kern1.uni1240</key>
    <array>
      <string>uni1240</string>
      <string>uni1243</string>
      <string>uni1245</string>
    </array>
    <key>public.kern1.uni1246</key>
    <array>
      <string>uni1246</string>
      <string>uni1247</string>
    </array>
    <key>public.kern1.uni1260</key>
    <array>
      <string>uni1260</string>
      <string>uni1263</string>
      <string>uni1265</string>
    </array>
    <key>public.kern1.uni1270</key>
    <array>
      <string>uni1270</string>
      <string>uni1273</string>
    </array>
    <key>public.kern1.uni1280</key>
    <array>
      <string>uni1280</string>
      <string>uni1283</string>
      <string>uni1285</string>
    </array>
    <key>public.kern1.uni12A0</key>
    <array>
      <string>uni12A0</string>
      <string>uni12A3</string>
      <string>uni12A5</string>
    </array>
    <key>public.kern1.uni12A8</key>
    <array>
      <string>uni12A8</string>
      <string>uni12AB</string>
      <string>uni12AD</string>
    </array>
    <key>public.kern1.uni12D0</key>
    <array>
      <string>uni12D0</string>
      <string>uni12D6</string>
    </array>
    <key>public.kern1.uni12D8</key>
    <array>
      <string>uni12D8</string>
      <string>uni12DB</string>
      <string>uni12DD</string>
    </array>
    <key>public.kern1.uni12E8</key>
    <array>
      <string>uni12E8</string>
      <string>uni12EB</string>
    </array>
    <key>public.kern1.uni1308</key>
    <array>
      <string>uni1308</string>
      <string>uni130B</string>
      <string>uni130D</string>
    </array>
    <key>public.kern1.uni1320</key>
    <array>
      <string>uni1320</string>
      <string>uni1323</string>
    </array>
    <key>public.kern1.uni1330</key>
    <array>
      <string>uni1330</string>
      <string>uni1333</string>
    </array>
    <key>public.kern1.uni1338</key>
    <array>
      <string>uni1338</string>
      <string>uni133B</string>
    </array>
    <key>public.kern1.uni1350</key>
    <array>
      <string>uni1350</string>
      <string>uni1353</string>
    </array>
    <key>public.kern2.uni1200</key>
    <array>
      <string>uni1200</string>
      <string>uni1201</string>
      <string>uni1206</string>
    </array>
    <key>public.kern2.uni1202</key>
    <array>
      <string>uni1202</string>
      <string>uni1203</string>
      <string>uni1204</string>
    </array>
    <key>public.kern2.uni1208</key>
    <array>
      <string>uni1208</string>
      <string>uni1209</string>
      <string>uni120A</string>
      <string>uni120C</string>
      <string>uni120D</string>
      <string>uni120E</string>
    </array>
    <key>public.kern2.uni120B</key>
    <array>
      <string>uni120B</string>
      <string>uni120F</string>
    </array>
    <key>public.kern2.uni1210</key>
    <array>
      <string>uni1210</string>
      <string>uni1211</string>
      <string>uni1212</string>
      <string>uni1214</string>
      <string>uni1215</string>
      <string>uni1216</string>
    </array>
    <key>public.kern2.uni1213</key>
    <array>
      <string>uni1213</string>
      <string>uni1217</string>
    </array>
    <key>public.kern2.uni1218</key>
    <array>
      <string>uni1218</string>
      <string>uni1219</string>
    </array>
    <key>public.kern2.uni121A</key>
    <array>
      <string>uni121A</string>
      <string>uni121B</string>
      <string>uni121C</string>
      <string>uni121E</string>
      <string>uni121F</string>
    </array>
    <key>public.kern2.uni1220</key>
    <array>
      <string>uni1220</string>
      <string>uni1221</string>
    </array>
    <key>public.kern2.uni1222</key>
    <array>
      <string>uni1222</string>
      <string>uni1223</string>
      <string>uni1224</string>
      <string>uni1226</string>
      <string>uni1227</string>
    </array>
    <key>public.kern2.uni1230</key>
    <array>
      <string>uni1230</string>
      <string>uni1231</string>
      <string>uni1232</string>
      <string>uni1234</string>
      <string>uni1236</string>
    </array>
    <key>public.kern2.uni1240</key>
    <array>
      <string>uni1240</string>
      <string>uni1241</string>
      <string>uni1242</string>
      <string>uni1244</string>
      <string>uni1245</string>
      <string>uni124A</string>
      <string>uni124D</string>
    </array>
    <key>public.kern2.uni1260</key>
    <array>
      <string>uni1260</string>
      <string>uni1261</string>
      <string>uni1262</string>
      <string>uni1264</string>
      <string>uni1266</string>
    </array>
    <key>public.kern2.uni1263</key>
    <array>
      <string>uni1263</string>
      <string>uni1267</string>
    </array>
    <key>public.kern2.uni1270</key>
    <array>
      <string>uni1270</string>
      <string>uni1271</string>
      <string>uni1272</string>
      <string>uni1274</string>
    </array>
    <key>public.kern2.uni1280</key>
    <array>
      <string>uni1280</string>
      <string>uni1281</string>
      <string>uni1282</string>
      <string>uni1284</string>
      <string>uni1288</string>
      <string>uni128A</string>
      <string>uni128D</string>
    </array>
    <key>public.kern2.uni1290</key>
    <array>
      <string>uni1290</string>
      <string>uni1291</string>
      <string>uni1292</string>
      <string>uni1294</string>
    </array>
    <key>public.kern2.uni12A0</key>
    <array>
      <string>uni12A0</string>
      <string>uni12A1</string>
      <string>uni12A2</string>
      <string>uni12A3</string>
      <string>uni12A4</string>
      <string>uni12A6</string>
    </array>
    <key>public.kern2.uni12A8</key>
    <array>
      <string>uni12A8</string>
      <string>uni12A9</string>
      <string>uni12AA</string>
      <string>uni12AC</string>
      <string>uni12AE</string>
      <string>uni12B0</string>
      <string>uni12B2</string>
      <string>uni12B4</string>
      <string>uni12B5</string>
    </array>
    <key>public.kern2.uni12AB</key>
    <array>
      <string>uni12AB</string>
      <string>uni12B3</string>
    </array>
    <key>public.kern2.uni12C8</key>
    <array>
      <string>uni12C8</string>
      <string>uni12C9</string>
      <string>uni12CD</string>
      <string>uni12CD.ss01</string>
    </array>
    <key>public.kern2.uni12CA</key>
    <array>
      <string>uni12CA</string>
      <string>uni12CB</string>
      <string>uni12CC</string>
    </array>
    <key>public.kern2.uni12D0</key>
    <array>
      <string>uni12D0</string>
      <string>uni12D1</string>
      <string>uni12D2</string>
      <string>uni12D3</string>
      <string>uni12D4</string>
    </array>
    <key>public.kern2.uni12D8</key>
    <array>
      <string>uni12D8</string>
      <string>uni12D9</string>
      <string>uni12DA</string>
      <string>uni12DC</string>
      <string>uni12DE</string>
    </array>
    <key>public.kern2.uni12E8</key>
    <array>
      <string>uni12E8</string>
      <string>uni12E9</string>
      <string>uni12EA</string>
      <string>uni12EC</string>
      <string>uni12EE</string>
    </array>
    <key>public.kern2.uni1308</key>
    <array>
      <string>uni1308</string>
      <string>uni1309</string>
      <string>uni130A</string>
      <string>uni130C</string>
      <string>uni1310</string>
      <string>uni1312</string>
      <string>uni1315</string>
    </array>
    <key>public.kern2.uni1320</key>
    <array>
      <string>uni1320</string>
      <string>uni1321</string>
      <string>uni1322</string>
      <string>uni1324</string>
      <string>uni1326</string>
    </array>
    <key>public.kern2.uni1330</key>
    <array>
      <string>uni1330</string>
      <string>uni1331</string>
      <string>uni1332</string>
      <string>uni1334</string>
      <string>uni1335</string>
      <string>uni1336</string>
    </array>
    <key>public.kern2.uni1338</key>
    <array>
      <string>uni1338</string>
      <string>uni1339</string>
      <string>uni133A</string>
      <string>uni133C</string>
      <string>uni133D</string>
      <string>uni133E</string>
    </array>
    <key>public.kern2.uni1340</key>
    <array>
      <string>uni1340</string>
      <string>uni1341</string>
      <string>uni1342</string>
    </array>
    <key>public.kern2.uni1350</key>
    <array>
      <string>uni1350</string>
      <string>uni1351</string>
      <string>uni1352</string>
      <string>uni1354</string>
    </array>
  </dict>
</plist>
