<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>black.spacer.listPresetSpacing</key>
    <array>
      <array>
        <string>All</string>
        <dict>
          <key>BottomGuide</key>
          <false/>
          <key>CapsOrLc</key>
          <integer>0</integer>
          <key>InnerCounter</key>
          <false/>
          <key>InnerCountersCheck</key>
          <false/>
          <key>Mono</key>
          <false/>
          <key>PreviewString</key>
          <string></string>
          <key>Prominence</key>
          <real>4.809999942779541</real>
          <key>ScanStep</key>
          <integer>10</integer>
          <key>SegmentedButton</key>
          <integer>0</integer>
          <key>Spacing</key>
          <string>150</string>
          <key>Threshold</key>
          <string>115</string>
          <key>TopGuide</key>
          <false/>
        </dict>
        <array>
          <string>uni1200</string>
          <string>uni1201</string>
          <string>uni1202</string>
          <string>uni1203</string>
          <string>uni1204</string>
          <string>uni1205</string>
          <string>uni1206</string>
          <string>uni1208</string>
          <string>uni1209</string>
          <string>uni120A</string>
          <string>uni120B</string>
          <string>uni120C</string>
          <string>uni120D</string>
          <string>uni120E</string>
          <string>uni120F</string>
          <string>uni1210</string>
          <string>uni1211</string>
          <string>uni1212</string>
          <string>uni1213</string>
          <string>uni1214</string>
          <string>uni1215</string>
          <string>uni1216</string>
          <string>uni1217</string>
          <string>uni1218</string>
          <string>uni1219</string>
          <string>uni121A</string>
          <string>uni121B</string>
          <string>uni121C</string>
          <string>uni121D</string>
          <string>uni121E</string>
          <string>uni121F</string>
          <string>uni1220</string>
          <string>uni1221</string>
          <string>uni1222</string>
          <string>uni1223</string>
          <string>uni1224</string>
          <string>uni1225</string>
          <string>uni1226</string>
          <string>uni1227</string>
          <string>uni1228</string>
          <string>uni1229</string>
          <string>uni122A</string>
          <string>uni122B</string>
          <string>uni122C</string>
          <string>uni122D</string>
          <string>uni122E</string>
          <string>uni122F</string>
          <string>uni1230</string>
          <string>uni1231</string>
          <string>uni1232</string>
          <string>uni1233</string>
          <string>uni1234</string>
          <string>uni1235</string>
          <string>uni1236</string>
          <string>uni1237</string>
          <string>uni1240</string>
          <string>uni1241</string>
          <string>uni1242</string>
          <string>uni1243</string>
          <string>uni1244</string>
          <string>uni1245</string>
          <string>uni1246</string>
          <string>uni1247</string>
          <string>uni1248</string>
          <string>uni124A</string>
          <string>uni124B</string>
          <string>uni124C</string>
          <string>uni124D</string>
          <string>uni1260</string>
          <string>uni1261</string>
          <string>uni1262</string>
          <string>uni1263</string>
          <string>uni1264</string>
          <string>uni1265</string>
          <string>uni1266</string>
          <string>uni1267</string>
          <string>uni1270</string>
          <string>uni1271</string>
          <string>uni1272</string>
          <string>uni1273</string>
          <string>uni1274</string>
          <string>uni1275</string>
          <string>uni1276</string>
          <string>uni1277</string>
          <string>uni1280</string>
          <string>uni1285</string>
          <string>uni1286</string>
          <string>uni1290</string>
          <string>uni1291</string>
          <string>uni1292</string>
          <string>uni1293</string>
          <string>uni1294</string>
          <string>uni1295</string>
          <string>uni1296</string>
          <string>uni1297</string>
          <string>uni12A0</string>
          <string>uni12A1</string>
          <string>uni12A2</string>
          <string>uni12A4</string>
          <string>uni12A5</string>
          <string>uni12A8</string>
          <string>uni12A9</string>
          <string>uni12AB</string>
          <string>uni12AC</string>
          <string>uni12AD</string>
          <string>uni12AE</string>
          <string>uni12B0</string>
          <string>uni12B3</string>
          <string>uni12B5</string>
          <string>uni12C8</string>
          <string>uni12C9</string>
          <string>uni12CA</string>
          <string>uni12CB</string>
          <string>uni12CC</string>
          <string>uni12CD</string>
          <string>uni12CE</string>
          <string>uni12D0</string>
          <string>uni12D1</string>
          <string>uni12D2</string>
          <string>uni12D3</string>
          <string>uni12D4</string>
          <string>uni12D5</string>
          <string>uni12D6</string>
          <string>uni12D8</string>
          <string>uni12D9</string>
          <string>uni12DA</string>
          <string>uni12DB</string>
          <string>uni12DC</string>
          <string>uni12DD</string>
          <string>uni12DE</string>
          <string>uni12DF</string>
          <string>uni12E8</string>
          <string>uni12E9</string>
          <string>uni12EA</string>
          <string>uni12EB</string>
          <string>uni12ED</string>
          <string>uni12EE</string>
          <string>uni12F0</string>
          <string>uni12F1</string>
          <string>uni12F2</string>
          <string>uni12F3</string>
          <string>uni12F4</string>
          <string>uni12F5</string>
          <string>uni12F6</string>
          <string>uni12F7</string>
          <string>uni1308</string>
          <string>uni1309</string>
          <string>uni130B</string>
          <string>uni130C</string>
          <string>uni130D</string>
          <string>uni1315</string>
          <string>uni1320</string>
          <string>uni1322</string>
          <string>uni1330</string>
          <string>uni1338</string>
          <string>uni1339</string>
          <string>uni133C</string>
          <string>uni133D</string>
          <string>uni1340</string>
          <string>uni1341</string>
          <string>uni1342</string>
          <string>uni1345</string>
          <string>uni1348</string>
          <string>uni1349</string>
          <string>uni134D</string>
          <string>uni134E</string>
          <string>uni1361</string>
          <string>uni1362</string>
        </array>
      </array>
    </array>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>.notdef</string>
          <string>space</string>
          <string>uni1200</string>
          <string>uni1201</string>
          <string>uni1202</string>
          <string>uni1203</string>
          <string>uni1204</string>
          <string>uni1205</string>
          <string>uni1206</string>
          <string>uni1208</string>
          <string>uni1209</string>
          <string>uni120A</string>
          <string>uni120B</string>
          <string>uni120C</string>
          <string>uni120D</string>
          <string>uni120E</string>
          <string>uni120F</string>
          <string>uni1210</string>
          <string>uni1211</string>
          <string>uni1212</string>
          <string>uni1213</string>
          <string>uni1214</string>
          <string>uni1215</string>
          <string>uni1216</string>
          <string>uni1217</string>
          <string>uni1218</string>
          <string>uni1219</string>
          <string>uni121A</string>
          <string>uni121B</string>
          <string>uni121C</string>
          <string>uni121D</string>
          <string>uni121E</string>
          <string>uni121F</string>
          <string>uni1220</string>
          <string>uni1221</string>
          <string>uni1222</string>
          <string>uni1223</string>
          <string>uni1224</string>
          <string>uni1225</string>
          <string>uni1226</string>
          <string>uni1227</string>
          <string>uni1228</string>
          <string>uni1229</string>
          <string>uni122A</string>
          <string>uni122B</string>
          <string>uni122C</string>
          <string>uni122D</string>
          <string>uni122E</string>
          <string>uni122F</string>
          <string>uni1230</string>
          <string>uni1231</string>
          <string>uni1232</string>
          <string>uni1233</string>
          <string>uni1234</string>
          <string>uni1235</string>
          <string>uni1236</string>
          <string>uni1237</string>
          <string>uni1240</string>
          <string>uni1241</string>
          <string>uni1242</string>
          <string>uni1243</string>
          <string>uni1244</string>
          <string>uni1245</string>
          <string>uni1246</string>
          <string>uni1247</string>
          <string>uni1248</string>
          <string>uni124A</string>
          <string>uni124B</string>
          <string>uni124C</string>
          <string>uni124D</string>
          <string>uni1260</string>
          <string>uni1261</string>
          <string>uni1262</string>
          <string>uni1263</string>
          <string>uni1264</string>
          <string>uni1265</string>
          <string>uni1266</string>
          <string>uni1267</string>
          <string>uni1270</string>
          <string>uni1271</string>
          <string>uni1272</string>
          <string>uni1273</string>
          <string>uni1274</string>
          <string>uni1275</string>
          <string>uni1276</string>
          <string>uni1277</string>
          <string>uni1280</string>
          <string>uni1281</string>
          <string>uni1282</string>
          <string>uni1283</string>
          <string>uni1284</string>
          <string>uni1285</string>
          <string>uni1286</string>
          <string>uni1288</string>
          <string>uni128A</string>
          <string>uni128B</string>
          <string>uni128C</string>
          <string>uni128D</string>
          <string>uni1290</string>
          <string>uni1291</string>
          <string>uni1292</string>
          <string>uni1293</string>
          <string>uni1294</string>
          <string>uni1295</string>
          <string>uni1296</string>
          <string>uni1297</string>
          <string>uni12A0</string>
          <string>uni12A1</string>
          <string>uni12A2</string>
          <string>uni12A3</string>
          <string>uni12A4</string>
          <string>uni12A5</string>
          <string>uni12A6</string>
          <string>uni12A8</string>
          <string>uni12A9</string>
          <string>uni12AA</string>
          <string>uni12AB</string>
          <string>uni12AC</string>
          <string>uni12AD</string>
          <string>uni12AE</string>
          <string>uni12B0</string>
          <string>uni12B2</string>
          <string>uni12B3</string>
          <string>uni12B4</string>
          <string>uni12B5</string>
          <string>uni12C8</string>
          <string>uni12C9</string>
          <string>uni12CA</string>
          <string>uni12CB</string>
          <string>uni12CC</string>
          <string>uni12CD</string>
          <string>uni12CE</string>
          <string>uni12D0</string>
          <string>uni12D1</string>
          <string>uni12D2</string>
          <string>uni12D3</string>
          <string>uni12D4</string>
          <string>uni12D5</string>
          <string>uni12D6</string>
          <string>uni12D8</string>
          <string>uni12D9</string>
          <string>uni12DA</string>
          <string>uni12DB</string>
          <string>uni12DC</string>
          <string>uni12DD</string>
          <string>uni12DE</string>
          <string>uni12DF</string>
          <string>uni12E8</string>
          <string>uni12E9</string>
          <string>uni12EA</string>
          <string>uni12EB</string>
          <string>uni12EC</string>
          <string>uni12ED</string>
          <string>uni12EE</string>
          <string>uni12F0</string>
          <string>uni12F1</string>
          <string>uni12F2</string>
          <string>uni12F3</string>
          <string>uni12F4</string>
          <string>uni12F5</string>
          <string>uni12F6</string>
          <string>uni12F7</string>
          <string>uni1308</string>
          <string>uni1309</string>
          <string>uni130A</string>
          <string>uni130B</string>
          <string>uni130C</string>
          <string>uni130D</string>
          <string>uni130E</string>
          <string>uni1310</string>
          <string>uni1312</string>
          <string>uni1313</string>
          <string>uni1314</string>
          <string>uni1315</string>
          <string>uni1320</string>
          <string>uni1321</string>
          <string>uni1322</string>
          <string>uni1323</string>
          <string>uni1324</string>
          <string>uni1325</string>
          <string>uni1326</string>
          <string>uni1327</string>
          <string>uni1330</string>
          <string>uni1331</string>
          <string>uni1332</string>
          <string>uni1333</string>
          <string>uni1334</string>
          <string>uni1335</string>
          <string>uni1336</string>
          <string>uni1337</string>
          <string>uni1338</string>
          <string>uni1339</string>
          <string>uni133A</string>
          <string>uni133B</string>
          <string>uni133C</string>
          <string>uni133D</string>
          <string>uni133E</string>
          <string>uni133F</string>
          <string>uni1340</string>
          <string>uni1341</string>
          <string>uni1342</string>
          <string>uni1343</string>
          <string>uni1344</string>
          <string>uni1345</string>
          <string>uni1346</string>
          <string>uni1348</string>
          <string>uni1349</string>
          <string>uni134A</string>
          <string>uni134B</string>
          <string>uni134C</string>
          <string>uni134D</string>
          <string>uni134E</string>
          <string>uni134F</string>
          <string>uni1350</string>
          <string>uni1351</string>
          <string>uni1352</string>
          <string>uni1353</string>
          <string>uni1354</string>
          <string>uni1355</string>
          <string>uni1356</string>
          <string>uni1357</string>
          <string>uni1360</string>
          <string>uni1361</string>
          <string>uni1362</string>
          <string>uni1363</string>
          <string>uni1364</string>
          <string>uni1365</string>
          <string>uni1366</string>
          <string>uni1367</string>
          <string>uni1368</string>
          <string>uni1369</string>
          <string>uni136A</string>
          <string>uni136B</string>
          <string>uni136C</string>
          <string>uni136D</string>
          <string>uni136E</string>
          <string>uni136F</string>
          <string>uni1370</string>
          <string>uni1371</string>
          <string>uni1372</string>
          <string>uni1373</string>
          <string>uni1374</string>
          <string>uni1375</string>
          <string>uni1376</string>
          <string>uni1377</string>
          <string>uni1378</string>
          <string>uni1379</string>
          <string>uni137A</string>
          <string>uni137B</string>
          <string>uni137C</string>
          <string>uni1390</string>
          <string>uni1391</string>
          <string>uni1392</string>
          <string>uni1393</string>
          <string>uni1394</string>
          <string>uni1395</string>
          <string>uni1396</string>
          <string>uni1397</string>
          <string>uni1398</string>
          <string>uni1399</string>
          <string>uniF4C2</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.generateFeaturesWithFontTools</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4793955408</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>uni1200</string>
      <string>uni1201</string>
      <string>uni1202</string>
      <string>uni1203</string>
      <string>uni1204</string>
      <string>uni1205</string>
      <string>uni1206</string>
      <string>uni1208</string>
      <string>uni1209</string>
      <string>uni120A</string>
      <string>uni120B</string>
      <string>uni120C</string>
      <string>uni120D</string>
      <string>uni120E</string>
      <string>uni120F</string>
      <string>uni1210</string>
      <string>uni1211</string>
      <string>uni1212</string>
      <string>uni1213</string>
      <string>uni1214</string>
      <string>uni1215</string>
      <string>uni1216</string>
      <string>uni1217</string>
      <string>uni1218</string>
      <string>uni1219</string>
      <string>uni121A</string>
      <string>uni121B</string>
      <string>uni121C</string>
      <string>uni121D</string>
      <string>uni121E</string>
      <string>uni121F</string>
      <string>uni1220</string>
      <string>uni1221</string>
      <string>uni1222</string>
      <string>uni1223</string>
      <string>uni1224</string>
      <string>uni1225</string>
      <string>uni1226</string>
      <string>uni1227</string>
      <string>uni1228</string>
      <string>uni1229</string>
      <string>uni122A</string>
      <string>uni122B</string>
      <string>uni122C</string>
      <string>uni122D</string>
      <string>uni122E</string>
      <string>uni122F</string>
      <string>uni1230</string>
      <string>uni1231</string>
      <string>uni1232</string>
      <string>uni1233</string>
      <string>uni1234</string>
      <string>uni1235</string>
      <string>uni1236</string>
      <string>uni1237</string>
      <string>uni1240</string>
      <string>uni1241</string>
      <string>uni1242</string>
      <string>uni1243</string>
      <string>uni1244</string>
      <string>uni1245</string>
      <string>uni1246</string>
      <string>uni1247</string>
      <string>uni1248</string>
      <string>uni124A</string>
      <string>uni124B</string>
      <string>uni124C</string>
      <string>uni124D</string>
      <string>uni1260</string>
      <string>uni1261</string>
      <string>uni1262</string>
      <string>uni1263</string>
      <string>uni1264</string>
      <string>uni1265</string>
      <string>uni1266</string>
      <string>uni1267</string>
      <string>uni1270</string>
      <string>uni1271</string>
      <string>uni1272</string>
      <string>uni1273</string>
      <string>uni1274</string>
      <string>uni1275</string>
      <string>uni1276</string>
      <string>uni1277</string>
      <string>uni1280</string>
      <string>uni1281</string>
      <string>uni1282</string>
      <string>uni1283</string>
      <string>uni1284</string>
      <string>uni1285</string>
      <string>uni1286</string>
      <string>uni1288</string>
      <string>uni128A</string>
      <string>uni128B</string>
      <string>uni128C</string>
      <string>uni128D</string>
      <string>uni1290</string>
      <string>uni1291</string>
      <string>uni1292</string>
      <string>uni1293</string>
      <string>uni1294</string>
      <string>uni1295</string>
      <string>uni1296</string>
      <string>uni1297</string>
      <string>uni12A0</string>
      <string>uni12A1</string>
      <string>uni12A2</string>
      <string>uni12A3</string>
      <string>uni12A4</string>
      <string>uni12A5</string>
      <string>uni12A6</string>
      <string>uni12A8</string>
      <string>uni12A9</string>
      <string>uni12AA</string>
      <string>uni12AB</string>
      <string>uni12AC</string>
      <string>uni12AD</string>
      <string>uni12AE</string>
      <string>uni12B0</string>
      <string>uni12B2</string>
      <string>uni12B3</string>
      <string>uni12B4</string>
      <string>uni12B5</string>
      <string>uni12C8</string>
      <string>uni12C9</string>
      <string>uni12CA</string>
      <string>uni12CB</string>
      <string>uni12CC</string>
      <string>uni12CD</string>
      <string>uni12CE</string>
      <string>uni12D0</string>
      <string>uni12D1</string>
      <string>uni12D2</string>
      <string>uni12D3</string>
      <string>uni12D4</string>
      <string>uni12D5</string>
      <string>uni12D6</string>
      <string>uni12D8</string>
      <string>uni12D9</string>
      <string>uni12DA</string>
      <string>uni12DB</string>
      <string>uni12DC</string>
      <string>uni12DD</string>
      <string>uni12DE</string>
      <string>uni12DF</string>
      <string>uni12E8</string>
      <string>uni12E9</string>
      <string>uni12EA</string>
      <string>uni12EB</string>
      <string>uni12EC</string>
      <string>uni12ED</string>
      <string>uni12EE</string>
      <string>uni12F0</string>
      <string>uni12F1</string>
      <string>uni12F2</string>
      <string>uni12F3</string>
      <string>uni12F4</string>
      <string>uni12F5</string>
      <string>uni12F6</string>
      <string>uni12F7</string>
      <string>uni1308</string>
      <string>uni1309</string>
      <string>uni130A</string>
      <string>uni130B</string>
      <string>uni130C</string>
      <string>uni130D</string>
      <string>uni130E</string>
      <string>uni1310</string>
      <string>uni1312</string>
      <string>uni1313</string>
      <string>uni1314</string>
      <string>uni1315</string>
      <string>uni1320</string>
      <string>uni1321</string>
      <string>uni1322</string>
      <string>uni1323</string>
      <string>uni1324</string>
      <string>uni1325</string>
      <string>uni1326</string>
      <string>uni1327</string>
      <string>uni1330</string>
      <string>uni1331</string>
      <string>uni1332</string>
      <string>uni1333</string>
      <string>uni1334</string>
      <string>uni1335</string>
      <string>uni1336</string>
      <string>uni1337</string>
      <string>uni1338</string>
      <string>uni1339</string>
      <string>uni133A</string>
      <string>uni133B</string>
      <string>uni133C</string>
      <string>uni133D</string>
      <string>uni133E</string>
      <string>uni133F</string>
      <string>uni1340</string>
      <string>uni1341</string>
      <string>uni1342</string>
      <string>uni1343</string>
      <string>uni1344</string>
      <string>uni1345</string>
      <string>uni1346</string>
      <string>uni1348</string>
      <string>uni1349</string>
      <string>uni134A</string>
      <string>uni134B</string>
      <string>uni134C</string>
      <string>uni134D</string>
      <string>uni134E</string>
      <string>uni134F</string>
      <string>uni1350</string>
      <string>uni1351</string>
      <string>uni1352</string>
      <string>uni1353</string>
      <string>uni1354</string>
      <string>uni1355</string>
      <string>uni1356</string>
      <string>uni1357</string>
      <string>uni1360</string>
      <string>uni1361</string>
      <string>uni1362</string>
      <string>uni1363</string>
      <string>uni1364</string>
      <string>uni1365</string>
      <string>uni1366</string>
      <string>uni1367</string>
      <string>uni1368</string>
      <string>uni1369</string>
      <string>uni136A</string>
      <string>uni136B</string>
      <string>uni136C</string>
      <string>uni136D</string>
      <string>uni136E</string>
      <string>uni136F</string>
      <string>uni1370</string>
      <string>uni1371</string>
      <string>uni1372</string>
      <string>uni1373</string>
      <string>uni1374</string>
      <string>uni1375</string>
      <string>uni1376</string>
      <string>uni1377</string>
      <string>uni1378</string>
      <string>uni1379</string>
      <string>uni137A</string>
      <string>uni137B</string>
      <string>uni137C</string>
      <string>uni1390</string>
      <string>uni1391</string>
      <string>uni1392</string>
      <string>uni1393</string>
      <string>uni1394</string>
      <string>uni1395</string>
      <string>uni1396</string>
      <string>uni1397</string>
      <string>uni1398</string>
      <string>uni1399</string>
      <string>uniF4C2</string>
    </array>
    <key>public.postscriptNames</key>
    <dict/>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
