<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni1200</key>
    <string>uni1200.glif</string>
    <key>uni1201</key>
    <string>uni1201.glif</string>
    <key>uni1202</key>
    <string>uni1202.glif</string>
    <key>uni1203</key>
    <string>uni1203.glif</string>
    <key>uni1204</key>
    <string>uni1204.glif</string>
    <key>uni1205</key>
    <string>uni1205.glif</string>
    <key>uni1206</key>
    <string>uni1206.glif</string>
    <key>uni1208</key>
    <string>uni1208.glif</string>
    <key>uni1209</key>
    <string>uni1209.glif</string>
    <key>uni120A</key>
    <string>uni120A_.glif</string>
    <key>uni120B</key>
    <string>uni120B_.glif</string>
    <key>uni120C</key>
    <string>uni120C_.glif</string>
    <key>uni120D</key>
    <string>uni120D_.glif</string>
    <key>uni120E</key>
    <string>uni120E_.glif</string>
    <key>uni120F</key>
    <string>uni120F_.glif</string>
    <key>uni1210</key>
    <string>uni1210.glif</string>
    <key>uni1211</key>
    <string>uni1211.glif</string>
    <key>uni1212</key>
    <string>uni1212.glif</string>
    <key>uni1213</key>
    <string>uni1213.glif</string>
    <key>uni1214</key>
    <string>uni1214.glif</string>
    <key>uni1215</key>
    <string>uni1215.glif</string>
    <key>uni1216</key>
    <string>uni1216.glif</string>
    <key>uni1217</key>
    <string>uni1217.glif</string>
    <key>uni1218</key>
    <string>uni1218.glif</string>
    <key>uni1219</key>
    <string>uni1219.glif</string>
    <key>uni121A</key>
    <string>uni121A_.glif</string>
    <key>uni121B</key>
    <string>uni121B_.glif</string>
    <key>uni121C</key>
    <string>uni121C_.glif</string>
    <key>uni121D</key>
    <string>uni121D_.glif</string>
    <key>uni121E</key>
    <string>uni121E_.glif</string>
    <key>uni121F</key>
    <string>uni121F_.glif</string>
    <key>uni1220</key>
    <string>uni1220.glif</string>
    <key>uni1221</key>
    <string>uni1221.glif</string>
    <key>uni1222</key>
    <string>uni1222.glif</string>
    <key>uni1223</key>
    <string>uni1223.glif</string>
    <key>uni1224</key>
    <string>uni1224.glif</string>
    <key>uni1225</key>
    <string>uni1225.glif</string>
    <key>uni1226</key>
    <string>uni1226.glif</string>
    <key>uni1227</key>
    <string>uni1227.glif</string>
    <key>uni1228</key>
    <string>uni1228.glif</string>
    <key>uni1229</key>
    <string>uni1229.glif</string>
    <key>uni122A</key>
    <string>uni122A_.glif</string>
    <key>uni122C</key>
    <string>uni122C_.glif</string>
    <key>uni122D</key>
    <string>uni122D_.glif</string>
    <key>uni122E</key>
    <string>uni122E_.glif</string>
    <key>uni1230</key>
    <string>uni1230.glif</string>
    <key>uni1231</key>
    <string>uni1231.glif</string>
    <key>uni1232</key>
    <string>uni1232.glif</string>
    <key>uni1233</key>
    <string>uni1233.glif</string>
    <key>uni1234</key>
    <string>uni1234.glif</string>
    <key>uni1235</key>
    <string>uni1235.glif</string>
    <key>uni1236</key>
    <string>uni1236.glif</string>
    <key>uni1237</key>
    <string>uni1237.glif</string>
    <key>uni1240</key>
    <string>uni1240.glif</string>
    <key>uni1243</key>
    <string>uni1243.glif</string>
    <key>uni1246</key>
    <string>uni1246.glif</string>
    <key>uni1247</key>
    <string>uni1247.glif</string>
    <key>uni124A</key>
    <string>uni124A_.glif</string>
    <key>uni124B</key>
    <string>uni124B_.glif</string>
    <key>uni124D</key>
    <string>uni124D_.glif</string>
    <key>uni1260</key>
    <string>uni1260.glif</string>
    <key>uni1261</key>
    <string>uni1261.glif</string>
    <key>uni1262</key>
    <string>uni1262.glif</string>
    <key>uni1263</key>
    <string>uni1263.glif</string>
    <key>uni1264</key>
    <string>uni1264.glif</string>
    <key>uni1265</key>
    <string>uni1265.glif</string>
    <key>uni1266</key>
    <string>uni1266.glif</string>
    <key>uni1267</key>
    <string>uni1267.glif</string>
    <key>uni1271</key>
    <string>uni1271.glif</string>
    <key>uni1274</key>
    <string>uni1274.glif</string>
    <key>uni1277</key>
    <string>uni1277.glif</string>
    <key>uni1280</key>
    <string>uni1280.glif</string>
    <key>uni1281</key>
    <string>uni1281.glif</string>
    <key>uni1282</key>
    <string>uni1282.glif</string>
    <key>uni1283</key>
    <string>uni1283.glif</string>
    <key>uni1284</key>
    <string>uni1284.glif</string>
    <key>uni1285</key>
    <string>uni1285.glif</string>
    <key>uni1286</key>
    <string>uni1286.glif</string>
    <key>uni1290</key>
    <string>uni1290.glif</string>
    <key>uni1291</key>
    <string>uni1291.glif</string>
    <key>uni1292</key>
    <string>uni1292.glif</string>
    <key>uni1293</key>
    <string>uni1293.glif</string>
    <key>uni1294</key>
    <string>uni1294.glif</string>
    <key>uni1295</key>
    <string>uni1295.glif</string>
    <key>uni1296</key>
    <string>uni1296.glif</string>
    <key>uni1297</key>
    <string>uni1297.glif</string>
    <key>uni12A0</key>
    <string>uni12A_0.glif</string>
    <key>uni12A1</key>
    <string>uni12A_1.glif</string>
    <key>uni12A2</key>
    <string>uni12A_2.glif</string>
    <key>uni12A3</key>
    <string>uni12A_3.glif</string>
    <key>uni12A4</key>
    <string>uni12A_4.glif</string>
    <key>uni12A5</key>
    <string>uni12A_5.glif</string>
    <key>uni12A6</key>
    <string>uni12A_6.glif</string>
    <key>uni12A8</key>
    <string>uni12A_8.glif</string>
    <key>uni12A9</key>
    <string>uni12A_9.glif</string>
    <key>uni12AB</key>
    <string>uni12A_B_.glif</string>
    <key>uni12AC</key>
    <string>uni12A_C_.glif</string>
    <key>uni12AD</key>
    <string>uni12A_D_.glif</string>
    <key>uni12AE</key>
    <string>uni12A_E_.glif</string>
    <key>uni12B0</key>
    <string>uni12B_0.glif</string>
    <key>uni12B3</key>
    <string>uni12B_3.glif</string>
    <key>uni12B5</key>
    <string>uni12B_5.glif</string>
    <key>uni12C8</key>
    <string>uni12C_8.glif</string>
    <key>uni12C9</key>
    <string>uni12C_9.glif</string>
    <key>uni12CA</key>
    <string>uni12C_A_.glif</string>
    <key>uni12CB</key>
    <string>uni12C_B_.glif</string>
    <key>uni12CC</key>
    <string>uni12C_C_.glif</string>
    <key>uni12CD</key>
    <string>uni12C_D_.glif</string>
    <key>uni12CE</key>
    <string>uni12C_E_.glif</string>
    <key>uni12D5</key>
    <string>uni12D_5.glif</string>
    <key>uni12D6</key>
    <string>uni12D_6.glif</string>
    <key>uni12DC</key>
    <string>uni12D_C_.glif</string>
    <key>uni12ED</key>
    <string>uni12E_D_.glif</string>
    <key>uni12F0</key>
    <string>uni12F_0.glif</string>
    <key>uni12F1</key>
    <string>uni12F_1.glif</string>
    <key>uni12F2</key>
    <string>uni12F_2.glif</string>
    <key>uni12F3</key>
    <string>uni12F_3.glif</string>
    <key>uni12F4</key>
    <string>uni12F_4.glif</string>
    <key>uni12F5</key>
    <string>uni12F_5.glif</string>
    <key>uni12F6</key>
    <string>uni12F_6.glif</string>
    <key>uni12F7</key>
    <string>uni12F_7.glif</string>
    <key>uni130C</key>
    <string>uni130C_.glif</string>
    <key>uni130D</key>
    <string>uni130D_.glif</string>
    <key>uni1320</key>
    <string>uni1320.glif</string>
    <key>uni1322</key>
    <string>uni1322.glif</string>
    <key>uni1323</key>
    <string>uni1323.glif</string>
    <key>uni1325</key>
    <string>uni1325.glif</string>
    <key>uni1330</key>
    <string>uni1330.glif</string>
    <key>uni1338</key>
    <string>uni1338.glif</string>
    <key>uni1339</key>
    <string>uni1339.glif</string>
    <key>uni133B</key>
    <string>uni133B_.glif</string>
    <key>uni133C</key>
    <string>uni133C_.glif</string>
    <key>uni133D</key>
    <string>uni133D_.glif</string>
    <key>uni133E</key>
    <string>uni133E_.glif</string>
    <key>uni133F</key>
    <string>uni133F_.glif</string>
    <key>uni1340</key>
    <string>uni1340.glif</string>
    <key>uni1341</key>
    <string>uni1341.glif</string>
    <key>uni1342</key>
    <string>uni1342.glif</string>
    <key>uni1343</key>
    <string>uni1343.glif</string>
    <key>uni1344</key>
    <string>uni1344.glif</string>
    <key>uni1345</key>
    <string>uni1345.glif</string>
    <key>uni1346</key>
    <string>uni1346.glif</string>
    <key>uni1348</key>
    <string>uni1348.glif</string>
    <key>uni1349</key>
    <string>uni1349.glif</string>
    <key>uni134C</key>
    <string>uni134C_.glif</string>
    <key>uni134D</key>
    <string>uni134D_.glif</string>
    <key>uni134E</key>
    <string>uni134E_.glif</string>
  </dict>
</plist>
